module.exports = {
  git: {
    ref: "refs/heads/dev", // required
    remote: "origin", // optional, default: "origin"
  },
  webhookEndpoint: "postrecieve", // optional, default: "postrecieve"
  port: 4001, // optional, default: 4001
  requireInstall: ["package-lock.json"], // optional, default: ["package-lock.json"]
  self: {
    name: "ci server", // optional, default: "ci server"
    processName: "ur-fit-auth-ci", // required
    requireRestart: ["ci/*", "package.json"], // optional, default: "["ci/*", "package.json"]"
  },
  // optional, default: []
  apps: [
    {
      name: "api server", // optional, default: "unknown"
      processName: "ur-fit-api", // required
      requireRestart: ["api/**/*", "package.json"], // optional, default: []
    },
    {
      name: "production server", // optional, default: "unknown"
      processName: "ur-fit-prod", // required
      requireRestart: ["src/**/*", "package.json"], // optional, default: []
    },
  ],
};
