module.exports = {
  auth: {
    mail: "mail@dummy.com",
    password: "1234abc",
  },
  mailOptions: {
    from: "mail@dummy.com",
    to: "ur.fit.app@mailman.uni-regensburg.de",
    subject: "Feedback for URfit-App",
    text: "Warning: Empty message",
  },
};
